.Wdate{
	 BORDER-RIGHT: #ccc 1px solid;
	 PADDING-RIGHT: 4px; 
	 BORDER-TOP: #ccc 1px solid;
	 PADDING-LEFT: 4px; 
	 BACKGROUND: #ffffff;
	 PADDING-BOTTOM: 2px; 
	 MARGIN: 6px 3px 0px; 
	 BORDER-LEFT: #ccc 1px solid; 
	 PADDING-TOP: 2px; 
	 BORDER-BOTTOM: #ccc 1px solid;
	 margin-left: 4px; 
	background:#fff url(datePicker.gif) no-repeat right;
	 width: 170px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}