.search {
	width:98%;
	height:40px;
	background-color:#F1FBFB;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:auto;
	text-align:left;
	text-indent:20px;
	line-height:40px;
	font-family:ו;
	font-weight:bolder;
}